# SECRETS OF 5 WALLETS
# SECRETS OF 5 WALLETS
WALLET_1_PUBLIC_KEY=
WALLET_1_PRIVATE_KEY=
WALLET_2_PUBLIC_KEY=
WALLET_2_PRIVATE_KEY=
WALLET_3_PUBLIC_KEY=
WALLET_3_PRIVATE_KEY=
WALLET_4_PUBLIC_KEY=
WALLET_4_PRIVATE_KEY=
WALLET_5_PUBLIC_KEY=
WALLET_5_PRIVATE_KEY=

# SECRET OF MASTER WALLET ADDRESS
MASTER_WALLET_PUBLIC_ADDRESS=
MASTER_WALLET_PRIVATE_KEY=

# RPC PROVIDER (CHAINSTACK)
RPC_URL=

# RPC PROVIDER (QUICKNODE --> FUND WORKING)
QUICKNODE_RPC_URL=



# ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ CHECK THESE BEFORE DO AN ACTION 👇 👇 👇 👇 ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️
# ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ CHECK THESE BEFORE DO AN ACTION 👇 👇 👇 👇 ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️
# ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ CHECK THESE BEFORE DO AN ACTION 👇 👇 👇 👇 ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️
# ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ CHECK THESE BEFORE DO AN ACTION 👇 👇 👇 👇 ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️ ⛔️

# EXECUTE SWAP OR NOT 
EXECUTE_SWAP=true

# TRANSACTION PRIORITY FREE 👇
# (100000 LAMPORT ==== $0.003663) 
# (1000000 LAMPORT === $0.036631) 
# (1500000 LAMPORT === $0.271505) ----> OK for SWAP transactions
# (10000000 LAMPORT == $0.366313) 
# (20000000 LAMPORT == $0.730191) ----> OK for FUNDING transactions
TRANSACTION_PRIORITY_FEE_IN_LAMPORTS_FOR_FUND=20000000
TRANSACTION_PRIORITY_FEE_IN_LAMPORTS_FOR_SWAP=1500000

# FUND SOL AMOUNT (ENTER SOL AMOUNT TO TRANSFER IN WALLETS 👇) (SOL 0.03 == $5.376334)
FUND_SOL_TO_WALLET_1=0
FUND_SOL_TO_WALLET_2=0.1
FUND_SOL_TO_WALLET_3=0
FUND_SOL_TO_WALLET_4=0.1
FUND_SOL_TO_WALLET_5=0

# BUY WHALE USING SOL (ENTER SOL AMOUNT TO SWAP 👇) (SOL 0.03 == $5.376334)
WALLET_1_BUY_WHALE_FOR_SOL_AMOUNT=0
WALLET_2_BUY_WHALE_FOR_SOL_AMOUNT=0
WALLET_3_BUY_WHALE_FOR_SOL_AMOUNT=0
WALLET_4_BUY_WHALE_FOR_SOL_AMOUNT=0.2
WALLET_5_BUY_WHALE_FOR_SOL_AMOUNT=0

# SELL WHALE (ENTER WHALE AMOUNT TO SWAP 👇) (WHALE 10000 == $0.169297)
WALLET_1_SELL_WHALE_AMOUNT=0
WALLET_2_SELL_WHALE_AMOUNT=0
WALLET_3_SELL_WHALE_AMOUNT=0
WALLET_4_SELL_WHALE_AMOUNT=10000
WALLET_5_SELL_WHALE_AMOUNT=0